/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
} */

.image-container-tracks,
.image-container-artists,
.image-container-favtracks {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  /* height: 250px; */
}

.mainImage{
    scale: 1.6;
    z-index: 99999 !important;
}
.mainImage:hover{
    scale: 1.6 !important;
    z-index: 1 !important;
}

@media (max-width: 1060px) {
  .image-container-tracks,
  .image-container-artists,
  .image-container-favtracks {
    display: flex;
    flex-direction: column;
    /* height: 250px; */
    /* width: 250px; */
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
.image {
  width: 100%;
  transition: filter 1.2s ease, scale 0.9s ease;
  height: 100%;
  object-fit: cover;
}

.blur {
  filter: blur(5px);
}

.image:hover {
  scale: 1.05;
  filter: none;
  /* z-index: 1; */
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  padding: 100px;
}
.info {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: bottom 0.3s ease;
  opacity: 0;
}

/* .image-wrapper:hover .info {
    bottom: 0;
    opacity: 1;
} */

.c {
  justify-content: center;
  margin-top: 50px;
  min-height: 100vh;
  width: 100vw;
}
